<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
  <button (click)="sendMessage()">Send</button>

  <div> Message List: 
    <div *ngFor="let message of messages">
      {{ message.text }}
    </div>
  </div>

  <app-name-form></app-name-form>
  <app-player-list></app-player-list>
  <app-timer-display></app-timer-display>
  <app-text-speaker></app-text-speaker>
  
</div>


